@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

body{
    background-color: #0a192f;
    color: aliceblue;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #FD6F00;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FD6F00;
    border-radius: 1px;
}